<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/06fcb987e4.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('../partials/sidebar.ejs') %>
    <main class="main-container">
        <nav class="topbar">
            <%- include('../partials/prev-next-btn.ejs') %>
            <%- include('../partials/topnav.ejs') %>
        </nav>
        <section class="content-container">
            <p> New </p>
            <div class="home-container">
                <% for (let i = 0; i < 10; i++) { %>
                    <div class="home-item">
                        <img src="images/station_placeholder.jpg" />
                        <h4>Radio Station</h4>
                        <p>Station of Radios</p>
                    </div>
                <% } %>
            </div>
           
            <script src="myscripts.js" async></script>
        </section>
    </main>
</body>
</html>